.projects-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: auto;
}
.projects-header{
    justify-content: space-between;
    padding-bottom: 2rem ;
    text-align: center;
}
.projects-wrapper {
    padding: 2rem 14rem;
    display: flex;
}

.project-description{
    padding:0rem  2rem;
    font-size: .9rem;
}

.project-photos {
    width: 600px;
    border-radius: 10px;
    box-shadow: 10px 10px 60px 10px rgba(190, 190, 190, 0.3);
  
}

.project-photos:hover{
    transform: scale(1.02);
    transition: 0.3s ease-in-out;
}
@media (max-width: 768px) {
    .projects-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: auto;
    }
    .projects-header{
        display: block;
        justify-content: space-between;
        padding-bottom: 2rem ;
        text-align: center;
    }
    .projects-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1rem .5rem ;
    }
    .project-thumbnail{
        display: flex;
        justify-content: center;
    }
    .project-description{
        padding: 1rem 1rem;
        font-size: 1.rem;
    }
    .project-photos{
        height: auto;
        width: 100%;
    }
    .buttons-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 1rem;
    }
    .buttons-wrapper button{
        width: 100%;
        font-size: 1rem;
    }

    
}