.about-container {
    display: flex;
    flex-direction:row;
    align-items:start;
    justify-content: center;
    height:60vh;
    width: 100%;
    padding-top: 6rem;
}
/* .about-container h3,h1 {
  color: white;
} */
.about-text{
  width: 50%;
}
.about-me-header {
    display: flex;
    justify-content:center;
    padding-bottom: 2rem;
}
.about-me-description {
  display: flex;
    padding-left:  100px ;
    justify-content: center;
    width: 100%;

}
.techstack-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    
}
.techstack-text{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  
}
.techstack-icon{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.techstack-image{ 
  padding: 2rem 1rem;
  height: 200px;
}
.techstack-image:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease;
}

/* Media Query for Mobile Devices */
@media (max-width: 768px) {
    .about-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: auto;
      padding-top: 1rem;
    }
    .about-text {
      width: 80%;
    }
  
    .about-me-header {
      padding-left: 0;
      text-align: center;
      padding: 1rem;
    }
  
    .about-me-description {
      padding-left: 0;
      width: 100%;
      text-align: center;
    }
  
    .techstack-container {
      width: 100%;
      margin-top: 1rem;
    }

    .techstack-icon {
      display: inline-block;
      flex-direction: column;
      justify-content: center;
      
    }
  
    .techstack-icons {
      justify-content: space-between;
      width: auto;
    }
    .techstack-image {
      width: fit-content;
    }
  }

