.about-container {
    display: flex;
    flex-direction:row;
    align-items:start;
    justify-content: center;
    height:60vh;
    width: 100%;
}
.about-text{
  width: 50%;
}
.about-me-header {
    display: flex;
    justify-content:center;
    padding-bottom: 2rem;
}
.about-me-description {
  display: flex;
    padding-left:  100px ;
    justify-content: center;
    width: 80%;

}
.techstack-container {
    display: flex;
    width: 50%;
    justify-content: center;
    
}
.techstack-text{
  display: flex;
  flex-direction: column;
}
.techstack-icons{
    display: flex;
    flex-direction: row;
}
.techstack-image{
  width: 150px;
}
/* Media Query for Mobile Devices */
@media (max-width: 768px) {
    .about-container {
      flex-direction: column;
      align-items: center;
      padding: 2rem;
    }
  
    .about-me-header {
      padding-left: 0;
      text-align: center;
      padding-bottom: 1rem;
    }
  
    .about-me-description {
      padding-left: 0;
      width: 100%;
      text-align: center;
    }
  
    .techstack-container {
      width: 100%;
      margin-top: 1rem;
    }
  
    .techstack-icons {
      justify-content: center;
    }
  }