.Home-container {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 2rem 0%;
    color: black;
  }
  .home-image {
    width: 45%;
    display: flex;
    justify-content: right;
    padding-right: 40px;
  }
  
.home-image img  {
    width: 60%;
    border-radius: 25%;
    box-shadow: 10px 10px 60px 10px rgba(190, 190, 190, 0.8);
  }
  button {
    background-color: black;
    color: rgb(248, 248, 248);
    border: none;
    padding: 10px 25px;
    font-size: 14px;
    border-radius: 45px;
    transition: font-size 0.2s; 
    box-shadow: 10px 10px 60px 10px rgba(190, 190, 190, 0.4) ;
  }
  span{
    color: rgb(102, 0, 255);
  }
  
  button:hover {
    font-size: 16px;
    background-color: white;
    color: rgb(102, 0, 255);
    border: rgb(102, 0, 255) solid 1px;

    
  }



.home-text button {
  margin-top: 10px; /* Add spacing above the button */
}
  
 .home-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 20px;
  }
  .home-text .button:hover {
    background-color: transparent;
    color: #14bdad;
    border-color: #14bdad;
    cursor: pointer;
  }
  @media (max-width: 768px) {
    .Home-container {
    flex-direction: column;
    padding-top: 3rem;
    padding: 2rem 5%;
    text-align: center;
    height: 80vh;
    }
  
    .home-image {
      width: 80%; /* Adjust the width for better responsiveness */
      justify-content: center;
      padding-top: 4rem;
      padding-right: 0;
      margin-bottom: 1rem; /* Add some spacing between image and text */
    }
  
    .home-image img {
      width: 100%; /* Adjust the image width for better responsiveness */
      border-radius: 50%; /* Use a perfect circle for border-radius */
    }
  
    .home-text {
      align-items: center;
      margin-left: 0;
    }
  
    button {
      padding: 8px 20px;
      font-size: 12px;
      border-radius: 30px;
      box-shadow: none; /* Remove the box shadow on mobile */
    }
  
    .home-text button {
      margin-top: 1rem; /* Adjust spacing above the button */
    }
  }