.navbar-container {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    color: Black;
    width: 100%;
    z-index: 99999;
    background-color:rgb(255, 255, 255);
 
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  a {
    text-decoration: none;
  }
  
  li {
    list-style: none;
  }
  
  .nav-links a {
    color: #ffffff;
  }
  
  .logo {
    display: flex;
    padding-left: 40px;
    align-items: center;
  }
  .logo img {
    height: auto;
    width: 45px;
  }
  .logo-text{
    padding-left: 1rem; 
  }
  .logo-text:hover {
    color: rgb(104, 0, 255);
  }
  
  .navbar-container ul li a {
    color:rgb(0, 0, 0);
    text-decoration: none;
    position: relative;
  }
  
  .navbar-container ul li a::after {
    content: '';
    width: 0%;
    height: 3px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    background: rgb(104, 0, 255);
    transition: width 0.3s;
  }
  
  .navbar-container ul li a:hover::after {
    width: 150%;
    color:rgb(104, 0, 255);
  }
  .menu {
    padding-right: 100px;
    display: flex;
    gap: 1em;
    font-size: 18px;
  }
  
  .menu li:hover {
    border-bottom: #000000;
  }
  
  .menu li {
    padding: 5px 14px;
  }

  input[type=checkbox] {
    display: none;
  } 
  .hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
  }
  @media (max-width: 768px) {
   .menu {
      display:none;
      position: absolute;
      background-color:#fff;
      right: 0;
      left: 0;
      text-align: center;
      padding: 16px 0;
      color: rgb(104, 0, 255);
    }
    .hamburger {
      display: block;
      font-size: 24px;
      user-select: none;
      color: rgb(104, 0, 255);
    }
    .menu li:hover {
      display: inline-block;
      transition: 0.3s ease;
    }
  
    .menu li + li {
      margin-top: 12px;
    }
    input[type=checkbox]:checked ~ .menu {
      display: block;
    }
  }
